<html ng-app="chris.util">
<head>
  <title>Sample of datetimepicker directive</title>
  <meta charset="utf-8">
</head>
<body ng-controller="IndexCtrl">
<link rel="stylesheet" href="../../../bower_components/datetimepicker/jquery.datetimepicker.css"/>
<form name="form">
  <p>
    <lable>Select date:</lable>
    <input type="text" name="date" ng-model="date" datetimepicker />
    <pre>model: {{date|json}}</pre>
    <pre>form.date control: {{form.date|json}}</pre>
  </p>

  <p>
    <lable>Select only date:</lable>
    <input type="text" name="onlyDate" ng-model="onlyDate" datetimepicker="datepicker" />
    <pre>model: {{onlyDate|json}}</pre>
    <pre>form.onlyDate control: {{form.onlyDate|json}}</pre>
  </p>

  <p>
    <lable>Select only time:</lable>
    <input type="text" name="onlyTime" ng-model="onlyTime" datetimepicker="timepicker" ng-required="true" />
    <pre>model: {{onlyTime|json}}</pre>
    <pre>form.onlyTime control: {{form.onlyTime|json}}</pre>
  </p>
</form>


<script src="../../../bower_components/angular/angular.min.js"></script>
<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../../bower_components/datetimepicker/jquery.datetimepicker.js"></script>
<script src="../../app.js"></script>
<script src="./index.controller.js"></script>
<script src="./datetimepicker.directive.js"></script>
</body>
</html>